<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Change Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Link para o Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Climate Change Story</h1>
        <nav>
            <ul>
                <li><a href="#overview">Overview</a></li>
                <li><a href="#emissions">Emissions Data</a></li>
                <li><a href="#impacts">Impacts</a></li>
                <li><a href="#solaris-team">Solaris Team</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section id="overview">
            <h2>Overview</h2>
            <p>Welcome to the Climate Change Story. Here, you will find data on how our planet's climate has changed over time.</p>
        </section>
        <hr>
        
        <section id="emissions">
            <h2>Sugestão: colocar o mapa aqui</h2>
            <canvas id="emissionsChart" width="400" height="200"></canvas>
        </section>

        <hr>

        <section id="dados">
            <h2>Concentrações de CO₂</h2>
            <p>
                As concentrações de dióxido de carbono têm aumentado constantemente desde o início da Revolução Industrial.
                Os dados mais recentes mostram que as concentrações atingiram níveis alarmantes.
            </p>
            

            <table>
                <caption>Concentrações de CO₂ nos Últimos Anos</caption>
                <thead>
                    <tr>
                        <th>Ano</th>
                        <th>Concentração (ppm)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2018</td>
                        <td>409.8</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>410.5</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>414.1</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>415.7</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>420.0</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <hr>

        <section id="impacts"></section>
            <h2>Impacts</h2>
            <p>Welcome to the Climate Change Story. Here, you will find data on how our planet's climate has changed over time.</p>

            <table>
                <caption>Concentrações de CO₂ nos Últimos Anos</caption>
                <thead>
                    <tr>
                        <th>Problemas</th>
                        <th>Impactos</th>
                        <th>Soluções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2018</td>
                        <td>409.8</td>
                        <td>12345</td>
                    </tr>
                    <tr>
                        <td>2019</td>
                        <td>410.5</td>
                        <td>12345</td>
                    </tr>
                    <tr>
                        <td>2020</td>
                        <td>414.1</td>
                        <td>12345</td>
                    </tr>
                    <tr>
                        <td>2021</td>
                        <td>415.7</td>
                        <td>12345</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>420.0</td>
                        <td>12345</td>
                    </tr>
                </tbody>

            </table>
        </section>

    </main>


    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

<footer>
  <div class="footer-container">
      <!-- Seção de navegação -->
      </div>

      <!-- Seção de redes sociais -->
      <div class="footer-social">
          <h3>For More Information</h3>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>

      <!-- Seção de direitos autorais -->
      <div class="footer-copyright">
          <p>&copy; 2024 Climate Story Project. Powered by Solaris Team. All rights reserved.</p>
      </div>
  </div>
</footer>
</html>